*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: SolaimanLipiNormal;
    font-size: 18px;
    line-height: 160%;
}

@font-face {
    font-family: SolaimanLipiNormal;
    src: url(fonts/solaimanlipi_20-04-07.eot);
    src: url(fonts/solaimanlipi_20-04-07.eot) format("embedded-opentype"),
      url(fonts/solaimanlipi_20-04-07.woff) format("woff"),
      url(fonts/solaimanlipi_20-04-07.ttf) format("truetype"),
      url(fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal) format("svg");
  }


/* Navbar and Footer Css */
.dropdown-menu{
    border: 0;
    border-radius: 0;
   
    padding-bottom: 0;
}
.dropdown-item:hover{
    background-color: #bb1d2c;
    color: white;
}
.menu-ft-size li a{

    font-weight: 700;
}

.nav-link:hover{
    color: #bb1d2c !important;
    }

.login-close-btn{
    background-color: white !important;
    }
    
.footer-bg{
    background-color:#0a0d14 ;
    
}

.footerMenu-ft-color{
color: lightgrey;

}

/* Home Page Section One  */

.bodyBg-color{
    background-color: #0A0A0A;
}
.sub-heading-color{
    color:#949cb0 ;
}
.headingLine{
    
    width: calc(100% - 60%);
    height: 1px;
    background-color: gray;
}


/* home page owl carousel slider css start */
#owl-demo .item{
    margin: 3px;
  }
  #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
  }

  .custom-bottom-end {
    bottom: 55px;
    right: 27px;
}
/* new  */
.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 50px);
    right: 250px;
    opacity: 1;
    font-size: 50px !important;
    z-index: 1;
}

.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 50px);
    left:250px;
    opacity: 1;
    font-size: 50px !important;
    z-index: 1;
    
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    background: rgba(180, 180, 180, 0.6) !important;
    color: rgba(180, 180, 180, 0.8) !important;
    width: 70px;
    height: 70px;
    border-radius: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background: white !important;
    color: rgba(180, 180, 180, 0.8) !important;
    width: 70px;
    height: 70px;
    border-radius: 50px !important;
    transition: all 0.3s !important;
}
.owl-carousel .owl-nav button.owl-prev:hover{
    background: white !important;
    color: rgba(180, 180, 180, 0.8) !important;
    width: 70px;
    height: 70px;
    border-radius: 50px !important;
    transition: all 0.3s !important;
}

/* home page owl carousel slider css end */

a.icon-link.autoScroll i:hover {
    transform: scale(1.10);
    color: yellowgreen;
}

a.icon-link.autoScroll {
    transition: 0.5s ease;
}


/* Single Page CSS Start  */

.main-body-single-page p{
 font-size: 18px;
 line-height: 160%;
 color: #555;
 text-align: justify;
}

.photo-hover a img:hover {
    transform: scale(1.05);
   
}

.photo-hover a img {
    transition: 0.5s ease;
}